.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;

	background-color: rgb(var(--callout-rgb));
}

.nav {
	display: flex;
	align-items: center;
}

.nav>ul {
	list-style: none;
	display: flex;
	column-gap: 1rem;
}